html {
    background-color: black;
    margin: 0;
    height: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 90%;
    text-align: center;
}
#mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#menuAdd {
    display: none;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#showAdd{
    color:white;
}
#showDelete{
    color:white;
}

#menuDelete{
    display: none;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#pickMenu{
    display: none;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    
}
#pickName{
    display: none;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    
}

button {
    display: flex;
    background-color: wheat;
    font-size: 2em;
    color:black;
    opacity: 100%;
    margin: 30px 0;
}

button:hover {
    cursor: pointer;
}

#start, #add, #delete {
   display: flex;
   justify-content: center;
}